*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', sans-serif
}

.container{
    width: 1040px;
    margin: 0 auto;
}


.clearfix {
	content: '';
	display: table;
	clear: both;
}


header{
    text-align: center;
}


header h1{
    color: #E53170;
    margin: 35px;
}

main{
    padding-top: 30px;
}
img{
    width: 100px;
    float: left;
    margin-right: 10px;
}

.card-testo{
    float: left;
	width: calc(33% - 20px);
	background-color: black;
    color: white;
	text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    box-shadow: 5px 5px 5px 5px #cececd ;
}

h3{
    margin: 10px 0 10px 10px;
}

.card-testo > p{
    font-size: 13px;
    margin-top: 16px;
}


